.card{
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
}

.card.visible{
    opacity: 1;
}

.center-title {
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
}

.center-title.visible {
    opacity: 1;
}

.introduction-content {
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
}

.introduction-content.visible {
    opacity: 1;
}