* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

body{
    background-color: #68A5F6;
    margin: 0px;
}

main{
    margin-left: 15px;
    margin-right: 15px;
}

.center-title {
    padding: 20px;
    text-align: center;
    display: block;
    margin: 20px auto; /* Combines margin-top and margin-bottom for centering */

    font-size: 50px;
    color: #000000;

    word-spacing: 5px;
    background-color: #f2f2f2;
    border-radius: 20px;
    border: solid 0px;
    max-width: 40%;
    word-wrap: break-word; /* Forces text to wrap */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.container{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
}

/* info table */
.info-table{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(230, 221, 221);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
    width: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    display: flex;
}

td {
    padding: 20px;
    vertical-align: top;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

td, h1{
    font-size: 28px;
    line-height: 30px;
}

td, p{
    
    font-size: 24px;
    text-align: justify;
    line-height: 25px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

/* Schedule Table */
.schedule-table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    table-layout: fixed;
}

.schedule-table th, .schedule-table td {
    padding: 30px;
    text-align: center;
    border: 1px solid #ddd;
    color: #000; /* Default black color */
}

.schedule-table th {
    background-color: #FFEB3B;
}

.schedule-table tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.schedule-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.schedule-table caption {
    caption-side: top;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

img{
    border-radius: 25px;
    border-style: solid;
    border-width: 0px;
}

/* Grid style */
.container-lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.image-hover a {
    display: block;
}

.image-hover img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image-hover img:hover {
    transform: scale(1.04);
}

.container-lg .row .col.text-center {
    margin-bottom: 20px;
    font-size: 30px;
}